 {% extends 'base.html' %}
     
     
    {% block title %} My {% endblock %}
     
    {% block content %}
        <h1> My honey homepage!  </h1>
	{% for post in posts %}{{post.title}}{% endfor %}
        {% for post in posts %}
        <div class="post">
            <h2>
                    {{post.title}}
            </h2>
            <p>{{post.description}}</p>
            <p>
                Created by rob1nzon on
                <time datetime="{{post.created|date:"c"}}">
                {{post.created|date}}
                </time>
            </p>
       </div>
{% endfor %}
{% endblock %}
